<!-- a form with "titre" "categorie" and "contenu" -->
<form action="">
  <!-- titre input -->
  <div class="form-group">
    <label for="title">Titre</label>
    <input type="text" class="form-control" id="title" placeholder="Titre" />
  </div>
  <!-- categorie input -->
  <div class="form-group">
    <label for="category">Categorie</label>
    <input
      type="text"
      class="form-control"
      id="category"
      placeholder="Categorie"
    />
  </div>
  <!-- contenu input -->
  <div class="form-group">
    <label for="content">Contenu</label>
    <input
      type="text"
      class="form-control"
      id="content"
      placeholder="Contenu"
    />
  </div>
</form>
